# Discord Bot Configuration
DISCORD_BOT_TOKEN=your_discord_bot_token_here
BEER_CHANNEL_ID=your_channel_id_here
DISCORD_WHITELIST_BOT_TOKEN=your_whitelist_discord_bot_token_here

# Pterodactyl
PTERODACTYL_PANEL_URL=https://panel.example.com
PTERODACTYL_CLIENT_API_KEY=your_pterodactyl_client_api_key_here
PTERODACTYL_SERVER_IDS=server-id-1,server-id-2

# API Configuration
PORT=3000
